@import 'styles/variables';
@import 'styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

html, body {
  height: 100%;
  background-color: $background-color;
  color: $main-font-color;
  background-image: url('assets/white-noize.svg');
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

#root {
  padding: 40px;
  height: 100%;
}

//reset default styles

a {
  display: block;
  position: relative;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: $main-font-color;
  font-size: 25px;

  &::after {
    content: '';
    display: block;
    background-color: $main-font-color;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    transition: width .3s ease-out;
  }

  &:hover {
    outline: none;
  }

  &:hover::after {
    width: 100%;
  }
}
